<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../static/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Motivational App</title>
</head>
<body>
<div class="containerMain">
<div class="containerQuotes">
    <h1 id="quote_dom"></h1>
    <h2 id="author_dom"></h2>
</div>
<div class="containerDate">
    <h3><span id="hour_dom"></span></h3>
    <h3><span id="curDate_dom"></span><span> | </span><span id="daysLeft_dom"></span></h3>
</div>
</div>
</body>
<script src="../data/quotes.js"></script>
<script src="../data/cDate.js"></script>
<script src="../data/daysTill.js"></script>
<script src="../data/hour.js"></script>
</html> 